@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-primary: #4f46e5;
  --color-secondary: #f56e14;
  --color-main: #121212;
  --color-gray: #636262;
}
