@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-primary: #4f46e5;
  --color-secondary: #f56e14;
  --color-main: #121212;
  --color-gray: #636262;
  --color-desc: #7A7A7A;
  --color-nav: #7A7A7A;
  --color-border: #E9E9E9;
  --color-table: #EDEDFC
}

body{
    font-family: "Rubik", sans-serif;
}


:disabled{
  cursor: pointer!important;
  opacity: 0.5!important;
}


/* .container {
    @apply mx-auto w-full px-[10px] md:w-[590px] md:w-[700px] lg:w-[980px] xl:w-[1200px];
} */


